<div class="container">
  <div class="row justify-content-center">
    <div class="row w-100 mt-4 ml-5 mr-5 pl-4 pr-4">
      <div class="row w-100">
        <div class="col align-self-start"><h3><a routerLink="/categories/{{categoryId}}">{{categoryName}}</a> / Themes Management</h3></div>
        <div class="col col-md-auto align-self-end">
          <a routerLink="/categories/{{categoryId}}/themes/new"><button type="button" class="btn btn-secondary">Add new</button></a>
        </div>
      </div>
      <hr>
    </div>
    <div *ngFor="let theme of themes" class="col-md-auto shadow-sm p-3 m-3 bg-white rounded">
      <div class="text-center" style="width: 200px">
        <div>
          <h5>{{theme.name}}</h5>
        </div>
        <div class="mx-auto d-block" style="width: 180px; height: 180px">
          <img *ngIf="theme.imageUrl; else elseBlock" class="img-thumbnail fit-image" style="width: 100%; height: 100%; object-fit: cover;"
               src="{{theme.imageUrl}}">
          <ng-template #elseBlock><img class="img-thumbnail fit-image" style="width: 100%; height: 100%; object-fit: cover;" src="assets/images/default-category.png"></ng-template>
        </div>
        <div class="overflow-hidden" style="height: 70px">
          <p>{{theme.description}}</p>
        </div>
        <a routerLink="/categories/{{categoryId}}/themes/{{theme.id}}" class="stretched-link"></a>
      </div>

    </div>
  </div>
</div>
