<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/"><img class="fit-image" style="height: 50px" src="assets/images/logo.png" alt="logo"/> </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngIf="!localStorageItem('user_username')" class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li *ngIf="!localStorageItem('user_username')" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
  <div *ngIf="localStorageItem('user_username')" class="navbar-nav">
    <div class="navbar-text">Logged in as:</div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        {{ localStorageItem('user_username')}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/user">Profile</a>
        <a class="dropdown-item" style="cursor:pointer" role="button" (click)="logout()">Log Out</a>
      </div>
    </div>
  </div>
</nav>
<hr style="margin: 0px; border-width: 1px;">
