<nav *ngIf="localStorageItem('user_username')" id="sidebar">
  <ul class="list-unstyled components">
    <li>
      <a routerLink="/categories">Manage categories</a>
    </li>
    <li *ngFor="let category of categories" class="active">

      <a href="#homeSubmenu{{category.name}}" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle">{{category.name}}</a>
      <ul class="collapse list-unstyled" id="homeSubmenu{{category.name}}">

        <li>
          <a href="/categories/{{category.id}}/themes/">Manage themes</a>
        </li>
        <li *ngFor="let theme of getThemesByCategoryId(category.id)">
          <a href="/categories/{{category.id}}/themes/{{theme.id}}/notes">{{theme.name}}</a>
        </li>

      </ul>

    </li>
  </ul>
</nav>
